div.join_us_subtitle>h6{
margin-block-start: 0em;
margin-block-end: 0em;
}
;
div.join_us_goals_title>img{
    position: relative;
    left:-72px;

}
;

div.join_us_goals_lists{
    
     .goals_list_1, .goals_list_2{
        flex:1;
    .goals_list_item{
        width: 440px;
        flex-flow: unset;
        margin-bottom: 62px;
     p{
         margin: 0;
     }
    }
}
}

.join_us_actions{
    justify-content: center;
    button {
        margin: 10px;
    }
    ;
    #white{
        color: $primary;
        background: $white;
        width: 143px;
    }
    ;
};

@media screen and (max-width: 440px){
    div.join_us_goals_title>h3{
        width: 187.78px;
        height: 56.33px;
        font-size: 40px;
        line-height: 38px;
        
    };
    div.join_us_goals_lists .goals_list_1 .goals_list_item, div.join_us_goals_lists .goals_list_2 .goals_list_item {
        width: 246px;
        margin-left: 0px;
        }
        ;
}
;

