  <header class="header">
    <button class="hamburger" onclick="openMenu()"><svg id="hamburger-nav" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.6297 12.2046H3.6297" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M21.6297 6.20459H3.6297" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M21.6297 18.2046H3.6297" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg></button>
    <div class="header_row">
      <!-- Title -->
      <a href="{{ site.data.nav[0].link | relative_url }}"><img src="{{'/assets/images/icons/logos/100-short.png' | relative_url}}" width="110px" alt="One Hundred Automations Logo" width="300"></a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="spacer"></div>
      <!-- Navigation -->
      <nav class="header_nav_list">
        <!-- {{ page.url }} -->
        <a disabled="true" class="nav_item  {% if page.url == '/' %} active_nav {% endif %}" href="{{ '#ato_grid' | relative_url }}">Automations</a>
        <a disabled="true" class="nav_item {% if page.url == '/all_guides.html' %} active_nav {% endif %}" href="{{ site.data.nav[3].link| relative_url }}">Guides</a>
        <a disabled="true" class="nav_item {% if page.url == '/about.html' %} active_nav {% endif %}" href="{{ site.data.nav[2].link | relative_url }}">About</a>
        <a disabled="false" class="nav_item {% if page.url == '/press-kit/press-kit-index.html' %} active_nav {% endif %}" href="{{ site.data.nav[1].link | relative_url }}">Press</a>
      </nav>
    </div>
  </header>
<div class="header_drawer">
      <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">&times;</a>
      <a disabled="true" class="nav_item" href="{{ '#ato_grid' | relative_url }}}">Automations</a>
        <a disabled="true" class="nav_item" href="{{ site.data.nav[3].link| relative_url }}">Guides</a>
        <a disabled="true" class="nav_item" href="{{ site.data.nav[2].link | relative_url }}">About</a>
        <a disabled="false" class="nav_item" href="{{ site.data.nav[1].link| relative_url }}">Press</a>
    </div>
  <script>
    function openMenu(){
      document.querySelector(".header_drawer").style.width="250px"
    };
    function closeMenu(){
      document.querySelector(".header_drawer").style.width="0px"
    }
  </script>