div.all_guides_hero{
    position: relative;
    background-color: $primary;
    height: 296px;
    div.hero_title{
        position: absolute;
        left: 120px;
        top: 100px;
    }
    ;
    div.hero_image{
        position: absolute;
        right: 100px;
      
    }
}
;