div.all_guides_hero{
    position: relative;
    background-color: $primary;
    height: 296px;
    div.hero_title{
        position: absolute;
        left: 120px;
        top: 100px;
    }
    ;
    div.hero_image{
        position: absolute;
        right: 100px;
      
    }
}
;

@media screen and (max-width: 480px) {
    div.all_guides_hero {
        display: flow-root;
        height: 28rem;
        div.hero_title{
            top: 3.5rem;
            left: 2rem;
            .title1 {
                font-size: 1.75rem;
            }
        }
        div.hero_image {
            top: 8.625rem;
            left: 11.5rem;
        }

    }
}