<div class="about_one flexbox_column">
    <div class="about_one_title flexbox_row">
<h4>
        100 Automations
    </h4>
    </div>
    
    <div class="about_one_text">
<p>
    A project that showcases automations and microservices that reduce repetitive work in open source development;  a project where anyone can create, collaborate on, and get credit for open source automations that assist the wider Civic Tech community.
 100Automations welcomes ideas in all stages, from the half-baked to the fully researched, as well as anything in between.</p>
 <br>
 <br>
 <p>
 The name derives from the project's goal to reach 100 developed automations in our first twelve months.
</p>
    </div>
</div>