<div class="acknowledgements flexbox_row">
    <div class="acknowledgements_title flexbox_row">
        <h1>
            Acknowledgements
        </h1>
    </div>
    <div class="origins">
        <div class="origins_title">
            <h6>
                Origins
            </h6>
        </div>
        <div class="origins_text">
            <p>
                This project wouldn’t exist if it weren’t for the incredible work being done on a variety of civic tech open sources projects at Hack for LA.  As we grow as an organization we are trying to make sure we share learnings with each other and with the larger civic tech and open source communities.  This project is one of the ways we are doing that.
            </p>
        </div>
    </div>
    <div class="mentions">
        <div class="mentions_title">
            <h6>
                Special Mentions
            </h6>
        </div>
        <div class="mentions_text">
            Joel Parker Henderson, Jared Fowler, John Darragh, Sophia Alice, and the Operations Community of Practice at Hack for LA for helping review automations, validate use cases, and for ongoing and valued advice on developing the project.
            <br>
            <br>
            Hack for LA’s website team for sharing their resources and learnings to help develop and design the project.
        </div>
    </div>
    <div class="view_projects">
     <hr> 
        <div class="view_projects_title">
            <h6>
                See our automations in these Civic Tech projects
            </h6>
        </div>
        <div class="view_projects_icons">
            
        </div>
    </div>
</div>