<!-- This will be our action card to display user options -->
<div class="action">
  <div class="action_card">
    <div class="action_card-title">
      <h2>100 Automations</h2>
    </div>
    <div class="">We’re building automations and microservices that improve open source
      development to assist the wider Civic Tech community. We welcome ideas in all stages - connect with us and let’s
      build 100 automations!
    </div>
    <div class="action_card-actions">
      <a class="">
        Contribute
      </a>
      <a class="">
        Submit
      </a>
    </div>
  </div>
</div>
