<!-- This will be our action card to display user options -->
<div class="action flexbox_column">
  <div class="action_card">
    <div class="action_card_title">
     <h2>100 Automations</h2> 
    </div>
    <p>
      We’re building automations and microservices that improve open source
      development to assist the wider Civic Tech community. We welcome ideas in all stages - connect with us and let’s
      build 100 automations!
    </p>
    <div class="action_card_actions">
      <a class="contribute">
        Contribute
      </a>
    </div>
  </div>
</div>
