<!-- This is the card for the border it will have user options and separate our automations from our guides -->
<div class="border">
  <div class="border_card mdl-card mdl-shadow--2dp">
    <div class="border_card-title mdl-card__title">
      <h2 class="mdl-card__title-text">Submit Your Automation</h2>
    </div>
    <div class="border_card-text mdl-card__supporting-text">
      <p>The automations featured on this site are well documented and easy to use. Read our Guide for Preparing Your
        Automation for Publication and then submit for review!</p>
    </div>
    <div class="border_card-actions mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Submit
      </a>
    </div>
  </div>
</div>