<div class="border">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Submit Your Automation</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>The automations featured on this site are well documented and easy to use. Read our Guide for Preparing Your
        Automation for Publication and then submit for review!</p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Submit
      </a>
    </div>
  </div>
</div>