<!-- This is the card for the border it will have user options and separate our automations from our guides -->
<div class="border">
    <div class="border_card_title ">
      <span class="h2">Getting Started</span>
    </div>
    <div class="border_card_text">
      <p>You can help build automations that are at different phases, and find opportunities that suit your level:</p>
    </div>
    <div class="border_card_actions flexbox_row">
      <div class="border_card_section flexbox_column">
        <img src="assets/images/illustrations/Illustration=idea.png" alt="#">
        <p>
          You have an idea for an automation and want to&nbsp;submit&nbsp;it.
        </p>
        <a href="{{ site.pages[4].url | relative_url }}" class="default_light">
          Submit Idea
        </a>
      </div>
      <div class="border_card_section flexbox_column">
        <img src="assets/images/illustrations/Illustration=contribute.png" alt="#">
        <p>
          You want to build your own approved automation idea or pick from a list of approved&nbsp;ideas.
        </p>
        <a href="{{ site.pages[2].url | relative_url }}" class="default_light">
          Start Building
        </a>
      </div>
      <div class="border_card_section flexbox_column">
        <img src="assets/images/illustrations/Illustration=build.png" alt="#">
        <p>
          You want to contribute to an existing automation that’s already being&nbsp;developed.
        </p>
        <a href="{{ site.pages[3].url | relative_url }}" class="default_light">
          Start Contributing
        </a>
      </div>
    </div>
  </div>  
</div>