<div class="featuring flexbox_column">
    <div class="featuring_title ">
        <h4>
            Featured in
        </h4>
    </div>
    <div class="featuring_text flexbox_row">
        <p>
            March 4 Declared “Open Data Day” in Los Angeles
            GovTech

        </p>
        <p>
            Why LA’s Tech Community is Trying to Hack Hunger
            CNN

        </p>
        <p>
            At L.A. 'hackathon,' civic-minded coders aim to put city data to good use
            LA Times
        </p>
    </div>
</div>