<!-- This will be our footer -->
<footer class="footer mdl-mini-footer">
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-mega-footer__drop-down-section">
      <div class="mdl-mega-footer__heading" >Hack For LA</div>
      <p class="footer_slogan">100 Automations is one of the many projects at Hack for LA, Code for America’s Los
        Angeles chapter.
      </p>
      <div class="mdl-mega-footer__bottom-section">
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#"><img style="width: 20px;" src='assets/images/projects/github.com/100Automations/icons/footer-icons/github-logo.png'></a></li>
        <li><a href="#"><img style="width: 20px;" src='assets/images/projects/github.com/100Automations/icons/footer-icons/youtube-logo.png'></a></li>
        <li><a href="#"><img style="width: 20px;" src='assets/images/projects/github.com/100Automations/icons/footer-icons/instagram-logo.png'></a></li>
        <li><a href="#"><img style="width: 20px;" src='assets/images/projects/github.com/100Automations/icons/footer-icons/twitter-logo.png'></a></li>
        <li><a href="#"><img style="width: 20px;" src='assets/images/projects/github.com/100Automations/icons/footer-icons/facebook-logo.png'></a></li>
      </ul>
    </div>
    </div>
  </div>
</footer>