<!-- This will be our footer -->
<footer class="footer mdl-mega-footer">
  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-mega-footer__drop-down-section">
      <div class="mdl-mega-footer__heading" >Hack For LA</div>
      <p class="footer_slogan">100 Automations is one of the many projects at Hack for LA, Code for America’s Los
        Angeles chapter.
      </p>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Github</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>