<!-- This will be our footer -->
<footer class="mdl-mini-footer">
  <div class="footer-slogan">
      <p class="">100 Automations is one of the many projects at Hack&nbsp;for&nbsp;LA, Code&nbsp;for&nbsp;America’s Los&nbsp;Angeles&nbsp;chapter.
      </p>
      <ul class="mdl-mini-footer__link-list">
        <li><a href="https://github.com/100Automations">
          <img src='{% link assets/images/icons/footer-icons/github-logo.png %}'></a></li>
        <li><a href="https://www.youtube.com/channel/UCS_BOwZ5Hj3pGHN0gmx4gAA?guided_help_flow=5">
          <img src='{% link assets/images/icons/footer-icons/youtube-logo.png %}'></a></li>
        <li><a href="https://www.instagram.com/100automations/">
          <img src='{% link assets/images/icons/footer-icons/instagram-logo.png %}'></a></li>
        <li><a href="https://twitter.com/100automations">
          <img src='{% link assets/images/icons/footer-icons/twitter-logo.png %}'></a></li>
        <li><a href="https://www.facebook.com/100Automations">
          <img src='{% link assets/images/icons/footer-icons/facebook-logo.png %}'></a></li>
      </ul>
  </div>
  <div class="footer-logo">
      <img src='{%link assets/images/icons/footer-icons/hackforla-logo.png%}'>
  </div>
</footer>