  <!-- Uses a transparent header that draws on top of the layout's background -->
  <header class="header">
    <div class="header-row ">
      <!-- Title -->
      <span class="">100 Automations</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class=""></div>
      <!-- Navigation -->
      <nav class="">
        <a disabled="true" class="" href="#">Automations</a>
        <a disabled="true" class="" href="#">Guides</a>
        <a disabled="true" class="" href="#">About</a>
        <a disabled="true" class="" href="#">Press</a>
      </nav>
    </div>
  </header>
  <!-- This is a navigation draw that is used when screen size reaches certain limit -->
  <div class="header-drawer">
    <span class="">100-Automations</span>
    <nav class="">
      <a disabled="true" class="" href="#">Automations</a>
      <a disabled="true" class="" href="#">Guides</a>
      <a disabled="true" class="" href="#">About</a>
      <a disabled="true" class="" href="#">Press</a>
    </nav>
  </div>
