<div class="join_us flexbox_column">
    <div class="join_us_title flexbox_column">
        <div class="join_us_main_title">
        <h5>
            We would love for you to join us!
        </h5>
    </div>
    <div class="join_us_subtitle">
        <h6 style="margin-block-start: 0em;">
            Where would you like to contribute?
        </h6>
    </div>
    </div>
    
    <div class="join_us_actions">
        <button>Automations</button>
        <button>Website</button>
    </div>
    <div class="join_us_goals">
        <div class="join_us_goals_title">
            <h5>
                Our Goals
            </h5>
        </div>
        <div class="join_us_goals_lists flexbox_row">
            <div class="join_us_goals_list_1">
                <p>
                    Attribute credit for high-value contributions to GitHub and general open source community
                </p>
                <p>
                    Publicize code to reduce repetitive work across the open source community
                </p>
                <p>
                    Encourage people to propose their automation ideas to developers 
                </p>
                <p>
                    Publicize projects that utilize the automations created
                </p>
            </div>
            <div class="join_us_goals_list_2">
                <p>
                    Create guides for people to level up on creating automations
                </p>
                <p>
                    Make automations more usable by creating distinct and well documented repositories
                </p>
                <p>
                    Find and promote currently unknown automation authors
                </p>
                <p>
                    Find and promote currently unknown automation authors
                </p>
                <p>
                    Knowledge transfer and growth of the overall open source Civic Tech community
                </p>
            </div>
        </div>
    </div>
</div>