<div class="join_us">
    <div class="join_us_title flexbox_column">
        <div class="join_us_main_title">
        <h5>
            We would love for you to join us!
        </h5>
    </div>
    <div class="join_us_subtitle">
        <h6>
            Where would you like to contribute?
        </h6>
    </div>
    </div>
    
    <div class="join_us_actions flexbox_row">
        <button class="default_dark">Automations</button>
        <button class="secondary_dark">Website</button>
    </div>
    
    <div class="join_us_goals flexbox_row">
        <div class="join_us_goals_title flexbox_row">
            <img src="{{ '/assets/images/icons/join-us/Gear-dark.png' | relative_url }}" alt="Dark Gear" class="no_share">
            <h3>
                Our Goals
            </h3>
        </div>
        <div class="join_us_goals_lists flexbox_row">
            <div class="goals_list_1 flexbox_column">
                <div class="goals_list_item flexbox_row">
                    <img src="{{ '/assets/images/icons/join-us/emojibox-clap.png' | relative_url }}" alt="Clapping Hands Emoji" class="no_share">
                    <p>
                        Attribute credit for high-value contributions to GitHub and general open source community
                    </p>
                </div>
                <div class="goals_list_item flexbox_row">
                    <img src="{{ '/assets/images/icons/join-us/emojibox-megaphone.png' | relative_url }}" alt="Megaphone Emoji" class="no_share">
                    <p>
                        Publicize code to reduce repetitive work across the open source community
                    </p>
                </div>
                <div class="goals_list_item flexbox_row">
                    <img src="{{ '/assets/images/icons/join-us/emojibox-party.png' | relative_url }}" alt="Party Blower" class="no_share">
                    <p>
                        Encourage people to propose their automation ideas to developers 
                    </p>
                </div>
                <div class="goals_list_item flexbox_row">
                    <img src="{{ '/assets/images/icons/join-us/emojibox-megaphone2.png' | relative_url }}" alt="Megaphone emoji" class="no_share">
                    <p>
                        Publicize projects that utilize the automations created
                    </p>
                </div>
            </div>
            <div class="goals_list_2 flexbox_column">
                <div class="goals_list_item flexbox_row">
                    <img src="{{ '/assets/images/icons/join-us/emojibox-file.png' | relative_url }}" alt="List" class="no_share">
                <p>
                    Create guides for people to level up on creating automations
                </p>
                </div>
                <div class="goals_list_item flexbox_row">
                    <img src="{{ '/assets/images/icons/join-us/emojibox-ballot.png' | relative_url }}" alt="Ballot Check Box" class="no_share">
                <p>
                    Make automations more usable by creating distinct and well documented repositories
                </p>
                </div>
                <div class="goals_list_item flexbox_row">
                    <img src="{{ '/assets/images/icons/join-us/emojibox-detective.png' | relative_url }}" alt="Detective" class="no_share">
                     <p>
                    Find and promote currently unknown automation authors
                </p>
                </div>
                <div class="goals_list_item flexbox_row">
                    <img src="{{ '/assets/images/icons/join-us/emojibox-book.png' | relative_url }}" alt="Book" class="no_share">
                    <p>
                        Knowledge transfer and growth of the overall open source Civic Tech community
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>