<div class="press_action flexbox_row">
    <div class="press_release flexbox_column">
        <div class="press_release_title">
            <h4>
                Press Releases
            </h4>
        </div>
        <div class="press_release_input">
            <label for="prtitle">Press Release Title</label>
            <input type="text" id="prtitle" name="prtitle">
        </div>
    </div>
    <div class="assets flexbox_column">
        <div class="assets_title">
            <h4>
                Assets
            </h4>
        </div>
        <div class="assets_actions flexbox_row">
            <div>
                Logo
            </div>
            <div>
                Bios
            </div>
            <div>
                Fact Sheet
            </div>
        </div>
    </div>
    <div class="press_release_contact">
        <p>
            Are you a member of the media?
            Please send us a note at 100Automations@hackforla.org
        </p>
    </div>
</div>