<div class="press_action flexbox_row">
    <div class="press_release flexbox_column">
        <div class="press_release_title">
            <h4>
                Press Releases
            </h4>
        </div>
        <div class="press_release_input">
            <label for="prtitle">Press Release Title</label>
        </div>
    </div>
    <div class="assets flexbox_column">
        <div class="assets_title">
            <h4>
                Assets
            </h4>
        </div>
        <div class="assets_actions flexbox_row">
            <div class="asset flexbox_column">
                <a href="https://drive.google.com/drive/folders/1lNXA9jYBauZDz7RgY18-N71jaInZz6ND?usp=sharing" target="_blank">
                    <img id="ato" src="{{'assets/images/icons/logos/100-Automations-Logo-Primary.png'| relative_url}}"
                        alt="100 Automations Logo">
                    <span>
                        Logos
                    </span>
                </a>
            </div>
            <div class="asset flexbox_column">
              <a href="{{ site.data.nav[4].link | relative_url}}">
                <img id="bio" src="{{'assets/images/icons/logos/Group.png'| relative_url}}" alt="Two Anthros">
                <span>
                    Bios
                </span>
              </a>  
            </div>
            <div id="fact" class="asset flexbox_column">
               <a href="https://github.com/100Automations/Website/blob/master/100Automations_Project_One_Sheet.pdf" target="_blank">
                <img src="{{'assets/images/icons/logos/Clipboard-check.png'| relative_url}}" alt="Clipboard With Check">
                <span>
                    Fact Sheet
                </span>
               </a>
            </div>
        </div>
    </div>
    <div class="press_release_contact">
        <p>
            Are you a member of the media?
            Please send us a note at <a href="mailto:100Automations@hackforla.org">100Automations@hackforla.org</a>
        </p>
    </div>
</div>