<div class="press_action flexbox_row">
    <div class="press_release">
        <h4>
        Press Releases
        </h4>
        <label for="prtitle">Press Release Title</label>
        <input type="text" id="prtitle" name="prtitle">
    </div>
    <div class="assets">
        <h4>
            Assets
        </h4>
        <div>
            <div>
                Logo
            </div>
            <div>
                Bios
            </div>
            <div>
                Fact Sheet
            </div>
        </div>
    </div>
 
</div>   
<p>
        Are you a member of the media?
        Please send us a note at 100Automations@hackforla.org
    </p>