<div class="share_ato flexbox_column">
    <div class="share_ato_title">
        <h4>
            Share 100 Automations!
        </h4>
    </div>
    <div class="social_media_posts flexbox_row">
        <div class="social_media_posts_title">
            <h5>
                Social Media Posts
            </h5>
        </div>
        <div class="social_media_posts_action">
            <button class="download_all">
                Download All
            </button>
        </div>
    </div>
    <div class="memes flexbox_row">
        <div class="memes_title">
            <h5>
                Memes
            </h5>
        </div>
        <div class="memes_actions">
            <button class="download_all"><i class="fa fa-download"></i> Download All</button>
        </div>
        <div class="memes_img">
            <ul>
            {% for meme in site.memes %}
                <li>
                    <img src="{{ meme.image }}" alt="{{ meme.title }}">
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>