@import "variables/index.scss";
@import "components/index.scss";
@import "includes/index.scss";
@import "guides.scss";
@import "press-kit/all_bios.scss";

html,body {
    max-width:1700px ;
    height: 100%;
    margin: 0%;
    padding: 0%;
    @media screen and (max-width: 480px){
        overflow-x: hidden;
    }
}
;