<div class="share_ato flexbox_column">
    <div class="share_ato_title">
        <span>
            Share 100 Automations!
        </span>
    </div>
    <div class="social_media_posts flexbox_row">
        <div class="social_media_posts_title ">
            <span>
                Social Media Posts
            </span>
        </div>
        <div class="social_media_posts_action">
            <a href="https://drive.google.com/drive/folders/1-Z0umS6uqp309DQpA4vTND-b_qyVkVIM?usp=sharing"
                target="_blank"><button class="download_all" id="social_media" value="Facebook"><i
                        class="fa fa-download"></i> Download All</button></a>
        </div>
        <div class="social_media_posts_img flexbox_column">
            <div class="social_media_posts_img_filter flexbox_row">
                <ul>
                    
                    <li><button class="filter_button selected" title="Facebook" ><span title="Facebook">Facebook</span><img title="Facebook" src='{{  "/assets/images/icons/footer-icons/facebook-logo.png" | relative_url }}' class="no_share"></button></li>
                    <li><button class="filter_button" title="Twitter" ><span  title="Twitter" >Twitter</span><img title="Twitter" src='{{  "/assets/images/icons/footer-icons/twitter-logo.png" | relative_url}}' class="no_share"></button></li>
                    <li><button class="filter_button" title="Instagram" ><span title="Instagram" >Instagram</span><img title="Instagram"  src='{{  "/assets/images/icons/footer-icons/instagram-logo.png" | relative_url }}' class="no_share"></button></li>
                
                </ul>
            </div>
            <div class="posts">
                <ul class="social_media_posts_img_list" id="{{site.social-media-posts[0].social}}">
                    <li><img src="{{ site.social-media-posts[0].have-an-idea.src | relative_url }}"
                            alt="{{{site.social-media-posts[0].have-an-idea.alt}}"></li>
                    <li><img src="{{site.social-media-posts[0].host-automation.src | relative_url }}"
                            alt="{{{site.social-media-posts[0].host-automation.alt}}"></li>
                    <li><img src="{{site.social-media-posts[0].logo.src | relative_url}}"
                            alt="{{{site.social-media-posts[0].logo.alt}}"></li>
                </ul>
                <ul class="social_media_posts_img_list" id="{{site.social-media-posts[1].social}}">
                    <li><img src="{{ site.social-media-posts[1].have-an-idea.src | relative_url }}"
                            alt="{{{site.social-media-posts[1].have-an-idea.alt}}"></li>
                    <li><img src="{{site.social-media-posts[1].host-automation.src | relative_url }}"
                            alt="{{{site.social-media-posts[1].host-automation.alt}}"></li>
                    <li><img src="{{site.social-media-posts[1].logo.src | relative_url }}"
                            alt="{{{site.social-media-posts[1].logo.alt}}"></li>
                </ul>
                <ul class="social_media_posts_img_list" id="{{site.social-media-posts[2].social}}">
                    <li><img src="{{ site.social-media-posts[2].have-an-idea.src | relative_url }}"
                            alt="{{{site.social-media-posts[2].have-an-idea.alt}}"></li>
                    <li><img src="{{site.social-media-posts[2].host-automation.src | relative_url }}"
                            alt="{{{site.social-media-posts[2].host-automation.alt}}"></li>
                    <li><img src="{{site.social-media-posts[2].logo.src | relative_url }}"
                            alt="{{{site.social-media-posts[2].logo.alt}}"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="memes flexbox_row">
        <div class="memes_title">
            <span>
                Memes
            </span>
        </div>
        <div class="memes_actions">
            <a href="https://drive.google.com/drive/folders/1yHPgR8FNSWIa-dfqylgRmbdhFZONR13c?usp=sharing"
                target="blank"><button class="download_all" value="memes"><i class="fa fa-download"></i> Download
                    All</button></a>
        </div>
        <div class="memes_img">
            <ul>
                {% for meme in site.memes %}
                <li>
                    <img src="{{ meme.image | relative_url }}" alt="{{ meme.alt }}">
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script> 
    {% assign social = site.social-media-posts %}
    {% assign memes = site.memes %}
    const social = [
        {% for posts in social %}
        {
            "posts":{
                'haveAnIdea': "{{posts.have-an-idea.src}}",
                'hostAutomation': "{{posts.host-automation.src}}",
                'logo':"{{posts.logo.src}}",
                'social':"{{posts.social}}"
            }
        },
        {% endfor %}
    ];
    
    const memes = [
        {% for meme in memes %}
        {
            "meme":{
                "img":"{{ meme.image }}",
                "alt":"{{ meme.title }}"
            }
        },
        {% endfor %}
    ];

    const imgFilter = string =>{
        imgList.forEach( img =>{
            if(img.id === string){
                img.style.display="flex"
            }
            else{
                img.style.display="none"
            }
        }  ) 
    }

     const imgList = document.querySelectorAll(".social_media_posts_img_list");
     const filterBtn = document.querySelectorAll("button.filter_button").forEach(btn => {
        btn.addEventListener("click", event => {
        let target = event.target;
        let selected = document.getElementsByClassName("selected");
        console.log(target)
        selected[0].className = selected[0].className.replace(" selected","");
        btn.classList.add("selected");
        switch(target.title){
            case "Facebook":
            imgFilter("Facebook");
            break;
            case "Twitter" :
            imgFilter("Twitter");
            break;
            case"Instagram":
            imgFilter("Instagram");
            break;
            default:
                console.log("error");
        };
     })});

</script>