// All the colors in our design system

// main colors

$primary: #003750;
$primaryhover: #005C73;
$secondary: #03A3D8;
$secondaryvariant: #EA4916;

// greyscale
$titlegrey: #14142B;
$tabgrey: #383843;
$bodygrey: #3F3E4D;
$iconsgrey: #B7B6B6;
$offwhite: #FCFCFC;
$white: #FFFFFF;

// labels

$labelgreen: #118A0D;
$labelyellow: #FCC605;
$labelred: #A80909;

// gradients


