// global typography settings ffor opur design system.

//Import Oswald
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
$poppins:'Poppins', 'Monserrat', 'Gill Sans', sans-serif;

h1 {
    font-family: $poppins;
    font-size: 60px;
    font-weight: 700;
    color: $bodygrey;
}

h2 {
    font-family: $poppins;
    font-size: 60px;
    font-weight: 600;
    color: $white;
}

h3 {
    font-family: $poppins;
    font-size: 48px;
    font-weight: 600;
    color: $bodygrey;
}

h4 {
    font-family: $poppins;
    font-size: 40px;
    font-weight: 600;
    color: $bodygrey;
}

h5 {
    font-family: $poppins;
    font-size: 28px;
    font-weight: 600;
    color: $bodygrey;
    line-height: 130%;
}

h6 {
    font-family: $poppins;
    font-size: 20px;
    font-weight: 600;
    color: $bodygrey;
    line-height: 130%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
}


p .body2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
}

p .body3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 135%;
    font-weight: 400; 
}

a {
   font-family: 'Poppins', 'Monserrat', 'Gill Sans', sans-serif;
   font-size: 22px;
   font-weight: 600; 
}

