div.about_one{
    background-color: $primary;
 div.about_one_title{
    flex-flow: unset;
    flex:1;
    img, h4{
    margin: .5em;
    }
    ;
    h4{
        color: $white;
        justify-content: left;
        text-align: left;
    }
    ;
 }
 ;
 div.about_one_text{ 
     p{
        color: $white;
        text-align: left;
        width: 50%;
        margin-left: 1em;
        }
        ;
 }
 ;
 div.roadmap{
        flex:1;
 }
 ;

}