.demo-card-wide.mdl-card {
      width: 100%;
    }
    .demo-card-wide > .mdl-card__title {
      color: #fff;
      height: 176px;
      background: rgba(0, 55, 80, 1)
    }
    .demo-card-wide > .mdl-card__menu {
      color: #fff;
    }