.action {
  background-color: $primary;
  overflow: hidden;
  margin: 0px;
  padding-bottom: 100px;
  .gears {
   position: relative;
flex:1;
    .hero_gear {
      position: absolute;
    }
    ;
    #small_gear{
       bottom: 120px;
       right: 220px;
    }
    ;
    #med_gear{
     top: -300px;
     right: -100px;
    }
    ;
    #big_gear{
      top:-140px;
    };

   };
   

  //text area in action section
  .action_card{
    z-index: 1;
    overflow: visible;
    word-break: break-all;
    text-overflow: ellipsis;
    max-width:558px;
    min-width: 295px;
    .action_card_title{
      text-align: center;

      h2{
        margin:0;
      }
      ;
    }
    ;

    .action_card_subtitle{
      p{
      color: $white;
      }
      ;
    }
    ;
    .action_card_actions{
      padding-bottom:50px;
    }
  }
  ;
}
;


