.automations {
    .ato_grid.mdl-grid {
        .ato_cell.mdl-cell {
            .ato_card.mdl-card {
                border-radius: 26px;
                .ato_needs.mdl-card__menu {
                  position: static;
                  border-radius: 26px;
                    .mdl-button {
                        background: rgba(0, 55, 80, 1);
                        color: white;
                    }
                    ;
                }
                ;
                .ato_card-media>img {
                    width: 100%;
                }
                ;
                .ato_card-actions {
                    text-align: center;
                    .mdl-button {
                        font-family: Poppins;
                        text-align: center;
                        vertical-align: middle;
                        text-transform: none;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 19.3017px;
                        width: 272.96px;
                        line-height: 42px;
                        height: 40.53px;     
                        background: #03a3d8;
                        color: #ffffff;
                        border-radius: 28.95px;
                        box-shadow: 0px 3.86033px 9.65083px rgba(0, 0, 0, 0.25), inset 0px 3.86033px 3.86033px rgba(255, 255, 255, 0.25);
                    }
                }
            }
        }
    }
}