.automations {
    .flexbox_row{
        margin-bottom: 100px;
    }
    .full_ato_card {
        display: flex;
        flex-flow: column nowrap;
        margin: 24px;
        width: 380px;
        height: 640px;

        .button_needs {
            font-weight: 700;
            width: 140px;
            background: $primary;
            color: $white;
            border: none;
            border-radius: 10px 10px 0px 0px;
            margin: 0;
            padding: 12px;
            align-self: flex-end;
        }
    }

    .ato_card {
        border-radius: 26px 0 26px 26px;
        margin-top: 0;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        position: relative;
        

        .ato_card_title {
            padding: 0 12px;
        }
        .ato_card_text {
            padding: 0 12px;
        }

        .needs_list {
            padding: 0 12px 12px 30px;
            margin: 0;
            width: 140px;
            max-height: 182px;
            background: $primary;
            color: $white;
            position: absolute;
            right: 0;
            top: 0;
            border-radius: 0px 0 10px 10px;
            }
        .d_none {
            display: none;
        }

        img {
            width: 100%;
        }

        .ato_card_actions {
            width: 100%;
            text-align: center;
            padding: 12px 0px;
            
            .read_me_button {
                font-family: Poppins;
                text-align: center;
                vertical-align: middle;
                text-transform: none;
                font-style: normal;
                font-weight: 600;
                font-size: 19px;
                line-height: 42px;
                height: 40px; 
                padding: 4px 120px;    
                background: $secondary;
                color: $white;
                border-radius: 28px;
                box-shadow: 0px 3.86033px 9.65083px rgba(0, 0, 0, 0.25), inset 0px 3.86033px 3.86033px rgba(255, 255, 255, 0.25);
            }
        }
    }
}