.border {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        background-color: $primary;
        padding: 4rem 0;
        color:$white;

        .border_card_title {
        word-break: break-all;
        padding-left: 4rem;
        .h2{
                font-family: $poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
                line-height: 140%;
                color: $white;
              }
              ;
        }
        ;

        .border_card_text {
        padding-left: 4rem;
        width:580px;
        p{
                color: #D6D6E7;
        }
        }
        ;


        .border_card_actions {
                width: 100%;
                align-items: center;
                justify-content: space-evenly;
                margin: 4rem 0 0 0;

                .border_card_section {
                width: 300px;
                height: 500px;
                margin: 1rem 1rem 6rem 1rem;
                justify-content: space-between;
                flex-wrap: nowrap;
                }
                ;

                a {
                text-decoration: none;
                color: $primary;
                background: linear-gradient(180deg, #FFFFFF 0%, #D9E1E5 100%);
                font-family: $poppins;
                font-weight: 600;
                }
                ;
        }
        ;
        @media screen and (max-width: 480px) {
                .border_card_title{
                       padding-left: 0rem;
                        width: 359px;
                        .h2{
                                font-family: $poppins;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 40px;
                                line-height: 45.6px;
                                color: $white;
                                position:relative;
                                left:26px;
                               
                              }
                              ;
                }
                ;
                .border_card_text{
                padding-left: 0rem;  
                width:295px; 
                p{
                  position: relative;
                  left:30px;      
                }
                ;
                }
                ;
        }
        ;
}
;



