.full_footer {
    padding: 24px;
    color: black;
    background-color: #ffffff;
    flex-flow: row nowrap;
    justify-content: space-between ;
    align-items: center;
    text-align: center;
  
  .footer_slogan {
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
    align-items: center ;
    img {
      width: 80px;
    }
    p {
      margin: 0;
      font-size: 0.85rem;
      line-height: 120%;
      margin: 20px 16px 20px 0;
    };
  }
  
  .footer_links {
    padding: 0px;
    li {
      display: inline;
      font-size:10px;
      height:15px;
      list-style-type:none;
      margin:auto;
      position:relative;
      text-align:left;
    }
    img {
      width: 20px;
    }
  }
}