.guides {
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);
    padding: 4rem 0 12rem 0;
    margin-bottom: 24px;
    border-radius: 0 0 100px 100px;

    h4 {
      margin: 0;
    }

    .guide_card_suggest {
        background: linear-gradient(130.94deg, #c6c6c6 0%, #8f8f8f 100%);
        color: $primary;
    }
}
.guides {
  .guides_title{
      display: flex;

  }
  .guide_grid.flexbox_row {
    justify-content: center;
      .guide_card {
          background: linear-gradient(130.94deg, #1449B0 0.77%, #011C61 100.78%);
          border-radius: 16px;
          width: 270px;
          height: 230px;
          margin: 12px;
          padding: 6px;

          .guide_card_title {
              display: block;
              text-align: center;
              margin-top: 4rem;
              color:$white;
          } 
      }
  }
  .guide_card_suggest {
    background: linear-gradient(130.94deg, #c6c6c6 0%, #8f8f8f 100%);
    color: $primary;
}
}

