.guides {
    a{
        color: #ffffff;
    }
    .guide_grid.mdl-grid {
        .guide_cell.mdl-cell {
            .guide_card.mdl-card {
                background: linear-gradient(130.94deg, #1449B0 0.77%, #011C61 100.78%);
                border-radius: 16px;
           .guide_card-title,.guide_card-text{
            color: #ffffff;
           }
               
    };
        }
    }
}
