.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .spacer {
        flex: 1;
    }

    ;

    .header-nav-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .nav_item {
            padding: 15px 0;
            cursor: pointer;
            position: relative;
            width: auto;
            text-align: center;
            position: relative;
            width: auto;
            margin: 0 16px;
            text-align: center;
            order: 3;
        }

        ;
    }

    ;
    .header-drawer{
        display: none;
    }
}

;