.container-header .mdl-layout__header,
.container-header .mdl-layout__drawer-button {
    background-color: white;
    color: rgba(0, 55, 80, 1);
    ;
}

.mdl-navigation .mdl-navigation__link{
color: rgba(0, 55, 80, 1);
}