header.header{
    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .spacer {
            flex: 1;
        }
    
        ;
    
        .header-nav-list {
            list-style: none;
            display: flex;
            flex-flow: nowrap;
            align-items: center;
            justify-content: center;
            .nav_item {
                padding: 15px 0;
                cursor: pointer;
                position: relative;
                width: auto;
                text-align: center;
                position: relative;
                width: auto;
                margin: 0 16px;
                text-align: center;
                order: 3;
                text-decoration: none;
                color: $tabgrey;
            }
    
            ;
            .nav_item:hover{
                font-weight: bold;
            }
        }
    
        ;
       
    }
    
    ;
    button.hamburger{
        display: none;
    }
    ;
    

    // Mobile styles

    @media screen and (max-width: 767px) {
        nav.header-nav-list{
            visibility: hidden;
        };
       button.hamburger {
            float: right;
            display: block;
            position: relative;
         };
       
    }
}

.header-drawer{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 55, 80, 1);
    overflow-x: hidden;
    padding-top: 15px;
    transition: 0.5s;
    a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    };
    a:hover {
        color: #f1f1f1;
      }

}