div.press_action {
    justify-content: center;
    margin: auto;

    div.press_release {
        width: 50%;

        label {
            display: flex;
            text-align: left;
            font-family: $poppins;
            position: relative;
        }

        ;
    }

    ;

    div.assets {
        width: 50%;
        justify-content: center;
        
        a{
            color: $titlegrey;
           
        }
        div.assets_title {
            span {
                height: 24px;
                width: 48px;
                left: 800px;
                top: 424px;
                text-decoration: none;

            }
            ;
        }
        ;

        div.assets_actions>div.asset {
            text-align: center;
            height: max-content;
            flex:1;
            border-radius: 26px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
            border-radius: 26px;
            margin: 0px 36px;
            padding: 36px 16px 24px;
            img{
                margin: 12px 0px;
            }
          #ato{
            width: 130.1px;
            height: 53.36px;
          }
          #bio{
            width: 64px;
            height: 64px;
          }
          #fact{
            width:48.17px;
            height: 56.67px;
          }
            span{
                font-family: $poppins   ;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 118%;
                /* or 24px */
                justify-content: center;
                display: flex;
                align-items: flex-end;
                text-align: center;
                text-transform: capitalize;

            }
        }
        ;
    }

    ;

    div.press_release_contact {
        font-family: $poppins;
        text-align: center;

        p {
            font-family: $poppins;

            a {
                text-decoration: none;
                color: blue;
            }
            ;
        }
        ;
    }
    ;
}

;