div.share_ato {
    background-color: $primary;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.6);
border-radius: 0px 0px 100px 100px;

    div.share_ato_title {
        h4 {
            color: $white;
        }

        ;
    }

    ;
    div.social_media_posts,div.memes{
        h5{
            color: $white;  
        }
    }

}

;