div.share_ato {
    background-color: $primary;

    div.share_ato_title {
        h4 {
            color: $white;
        }

        ;
    }

    ;
    div.social_media_posts,div.memes{
        h5{
            color: $white;  
        }
    }

}

;