section.hero-container, section.hero-container--guides{
    position: relative;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 10px;
    background-color: #003750;
    box-shadow: -20rem 0 #003750, 40rem 0 #003750;
    margin-bottom: 4rem;

    h1.col1, h1.title1{
      max-width: max-content;
      width: 67rem;
      max-height: max-content;
      align-self: center;
      }
  
  }

@media screen and (max-width: 480px) {
  section.hero-container, section.hero-container--guides{
  padding: 0;
  margin-bottom: 0;
  display: flow-root;
  h1.col1, h1.title1{
    font-size: 1.75rem;
    width: 18.5rem;
    background-color: #003750;
    box-shadow: -20rem 0 #003750, 40rem 0 #003750;
    margin: 3rem 2rem 2.5rem 2rem;
    line-height: 2.1rem;
    }

    .col3{
      position: relative;
      right: 0;
      width: 14rem;
      height: 14rem;
      margin: 0 0 2.5rem 16rem;
      transform: rotateY(180deg);
    }
  }
}