div.share_ato {
    background-color: $primary;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 100px 100px;

    div.share_ato_title {
        margin-bottom: 5rem;
        span {
            color: $white;
            font-family: $poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 140%;;
        }

        ;
    }

    ;

    div.social_media_posts,
    div.memes {
        position: relative;
        margin-bottom: 5rem;
        span {
            color: $white;
            font-family: $poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 135%;
        }

        ;
    }

    ;

    div.social_media_posts{
        div.social_media_posts_title{
            padding-left:5rem;
        }
        div.social_media_posts_img {
        div.social_media_posts_img_filter {
            margin-top: 1.5rem;
            position: absolute;
            top: 36px;

            ul {
                padding-inline-start:4rem;
                li {
                    display: inline;
                    margin: 20px 12px;
                    button.filter_button{
                        border: 1px solid #0497C8;
                        border-radius: 16px;
                        background:$primary;
                        color: $white; 
                        padding: 8px 20px;
                        span{
                            font-family: $poppins;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 140%;
                        }
                        ;
                        img{
                            display:none;
                            height: 24px;
                        }

                    }
                    ;
                    button.filter_button.selected{
                        background: $secondary;
                    }
                    ;

                }
                ;
            }

            ;
        }

        ;

        div.posts {
            margin-top: 5.5rem;
            padding-left: 4rem;
            ul.social_media_posts_img_list {
                display: none;
                padding: 0;
                margin: 0;
                list-style: none;
                -webkit-flex-flow: row wrap;
                justify-content: space-around;

                li {
                    display: inline;
                    margin-left: 10px;

                    img {
                        max-height: 200px;
                        border-radius: 26px;

                    }

                    ;
                }

                ;
            }

            ;

            ul#Facebook {
                display: flex;
                
            }

            ;

            ul#Instagram>li>img {
                max-height: 315px;
            }

            ;
        }

        ;


    }
    ;
}
;

    div.memes {
        div.memes_title{
            padding-left: 5rem;
        }
        ;
        /* width */
::-webkit-scrollbar {
    height: 20px;
    max-width: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $secondary;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondaryvariant;
    border-radius: 10px;
  }
        div.memes_img {
            overflow-x: scroll;
            padding-left: 4rem;

            ul {
                display: flex;
                padding-inline-start: 0px;

                li {
                    display: inline;
                    margin-left: 10px;

                    img {
                        max-height: 256px;
                        border-radius: 33px;

                    }

                    ;
                }

                ;
            }

            ;
        }

        ;
    }

    ;

    @media screen and (max-width: 480px) {
        padding-bottom: 150px;
        padding-left: 1px;
        div.social_media_posts,
        div.memes {
            margin-bottom: 0rem;
        }
        ;
        div.share_ato_title {
         text-align: center;
         margin-bottom:0rem;
         span{
            font-size: 32px;
         }
         ;
        }
        ;
    
        ;
        div.social_media_posts{
            margin-bottom: 4.5rem;
            flex-flow: column wrap;
                display: flex;
                align-items: center;
                width: 100%;

            div.social_media_posts_title{
                margin-top: 1.75rem;
                margin-bottom: 1rem;
                padding-left: 0rem;
                
                span{
                    font-size: 28px;
                 }
                 ;
            }
            ;
            div.social_media_posts_img {
                div.posts{
                    margin-top: 0rem;
                    padding-left: 0rem
                }
                ;
            div.social_media_posts_img_filter {
                position: static;
                justify-content: center;
    
                ul {
                    padding-inline-start: 0rem;
                    li {
                        margin: 0px;
                        button.filter_button{
                            width: 68px;
                            height: 47px;

                          span{
                            display: none;
                          }
                          ;
                          img{
                            display:block;
                            filter: brightness(0) invert(1)
                          }
                          ;
                          color:$white;
                          background: $primary;
                        }
                        ;
                        button.filter_button.selected{
                           
                           background: $white;
                           img{
                               filter: invert(0);
                           }
                           ;
                        }
                        ;
    
                    }
                    ;
                }
                ;
            }
            ;
        }
        ;
    }
        ;
        div.social_media_posts>div.social_media_posts_img>div.posts>ul.social_media_posts_img_list>li{
            margin-left: 0px;
            img{
                max-width: 360px;
            }
        }
        ;
     

        div.social_media_posts>div.social_media_posts_action {
            position: absolute;
            bottom: 0px;
            margin: auto;
            width: 50%;
            display: flex;
            align-items: center;
            button {
                margin-left: 0px;
                top: 20px;
                width: 208px;
            }
        }

        div.memes {
            flex-flow: column wrap;
            display: flex;
            align-items: center;
            width: 100%;
            div.memes_title{
                position: absolute;
                top:-20px;
                padding-left: 0rem;
                span{
                    font-size: 28px;
                 }
                 ;
            }
            ;
            div.memes_img {
                padding-left: 0rem;
                ul>li {
                    margin-left: 0px;
                }
            }

            ;

            div.memes_actions {
                position: absolute;
                bottom: 0px;
                margin: auto;
                width: 50%;

                button {
                    margin-left: 0px;
                    top: 20px;
                    width: 208px;
                }
            }

            ;
        }

        ;
    }

    ;
}

;