<div class="about_one flexbox_row">
        <div class="about_one_title flexbox_row">
            <img src="{{ '/assets/images/icons/join-us/Two-gears.png' | relative_url }}" class="no_share" alt="">
            <h4>
                100 Automations
            </h4>
        </div>
    
        <div class="about_one_text flexbox_row">
           
                <p>
                    A project that showcases automations and microservices that reduce repetitive work in open source
                    development; a project where anyone can create, collaborate on, and get credit for open source
                    automations that assist the wider Civic Tech community.
                    100Automations welcomes ideas in all stages, from the half-baked to the fully researched, as well as
                    anything in between.
                    <br>
                    <br>
                    The name derives from the project's goal to reach 100 developed automations in our first twelve months.
                </p>
                <div class="roadmap flexbox_row">
                    <h3>
                        3/100
                    </h3>
                    <p><a href="https://docs.google.com/viewer?url=https://github.com/hackforla/product-management/blob/master/project-one-sheets/100-Automations-Project-One-Sheet.pdf?raw=true" target="_blank">Check out our roadmap</a></p>
                </div>
        </div>
        
<svg viewBox="0 0 1445 91">
    <path fill="white" fill-opacity="1"
        d="M0 64.5273V34.3571C40.9417 21.1208 160.154 11.5818 240.833 4.96364C321.512 -1.65455 400.987 11.5818 481.667 20.4061C562.346 29.2303 641.821 33.6424 722.5 29.2303C803.179 24.8182 882.654 11.5818 963.333 4.96364C1044.01 -1.65455 1123.49 -1.65455 1204.17 4.96364C1284.85 11.5818 1364.32 24.8182 1405.26 31.4364L1445 38.0545V91H1405.26C1364.32 91 1284.85 91 1204.17 91C1123.49 91 1044.01 91 963.333 91C882.654 91 803.179 91 722.5 91C641.821 91 562.346 91 481.667 91C400.987 91 321.512 91 240.833 91C160.154 91 80.6792 91 39.7375 91H0V64.5273Z">
    </path>
</svg>
</div>
