div.bios{
  div.bios_grid{

    div.bio_card{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 32px 19px;
      div.bio_card_actions{
        div.bio_card_full{
          
        }
        ;
      }
      ;
    }
    ;
  }
  ;
}
;