a {
    font-family: $poppins;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: $secondary;
}
;

a.default_dark {
    border-radius: 28px;
    width: 180px;
    padding: 12px 30px;
    background-color: $primary;
    color: white;
}

a.default_dark:hover {
    border: 4px solid #CDCBBF;
    padding: 8px 26px;
};

a.default_light {
    border-radius: 28px;
    width: 180px;
    padding: 12px 30px;
    color: $primary;
    background: $whitegradient;
    position: inherit;
    left: 76px;
};
a.default_light:hover {
    border: 4px solid #CDCBBF;
    padding: 8px 26px;
}

a.secondary_dark {
    border-radius: 28px;
    width: 180px;
    padding: 12px 30px;
    border: 2px solid $primary;
    background-color: none;
    color: $primary;
}
a.secondary_dark:hover {
    padding: 12px 28px;
    border: 4px solid $primary;
}

a.secondary_light {
    border-radius: 28px;
    width: 180px;
    padding: 12px 30px;
    border: 2px solid $white;
    background-color: none;
    color: $white;
}
a.secondary_light:hover {
    padding: 12px 28px;
    border: 4px solid $white;
}

a.read_me_button{
    width: 100%;
    height: 38px; 
    background: $secondary;
    border-radius: 28px;
    box-shadow: 0px 3.86033px 9.65083px rgba(0, 0, 0, 0.25), inset 0px 3.86033px 3.86033px rgba(255, 255, 255, 0.25);
    font-size: 20px;
    line-height: 42px; 
    color: $white;
    i {
        margin-left: 10px;
    }
};
a#suggest_a_guide{
    box-sizing: border-box;
    border-radius: 28px;
    padding: 12px 22px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: $poppins;
    background-color: $primary;
    color: $white;
  }
  ;
