.guide_card {
    background: linear-gradient(130.94deg, #1449B0 0.77%, #011C61 100.78%);
    border-radius: 16px;
    width: 17rem;
    height: 15rem;
    padding: 0 12px;
    margin: 1.5rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.6);

    .guide_card_title {
        font-family: 'Oswald', 'Open Sans', sans-serif;
        font-weight: normal;
        font-size: 30px;
        color: #ffffff;  
    }
}