
div.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    min-width: 150px;
    height: 20px;
    background-color: $primary;
    color: $white;
    border-radius: 20px;
    ;
}

.chip.ato_in_use {
    background-color: #118A0D;
    color: $white;
}
.chip.ato_in_progress {
    background-color: #FCC605;
    color: $bodygrey;
}
.chip.ato_abandoned {
    background-color: #A80909;
    color: $white; 
}