<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK8P8ZW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app">
        <!-- This div is necessary for mdl components to work -->
        <div class="container-layout">
            {% include header.html %}
            <main class="main-content">
                {{content}}
            </main>
            {% include footer.html %}
        </div>
    </div>
</body>

</html>