<!-- This will be our hero card to display description and 'contribute' -->
<div class="action flexbox_row">
  <div class="action_card">
      <div class="action_card_title">
        <span class="h2">100 Automations</span>
      </div>
      <div class="action_card_subtitle">
        <p>
          We’re supporting tools and micro services to help simplify open source development for the wider Civic Tech
          community.
          We welcome ideas and projects in all stages - connect with us and let’s build 100 automations.
        </p>
      </div>
      <div class="action_card_actions">
        <a href="/guides/creator_overview.html" class="default_light">
          Get Involved
        </a>
      </div>
    </div>
    <div class="gears">
      <img src="{{'assets/images/illustrations/small_gear.png' | relative_url}}" alt="" id="small_gear" class="hero_gear no_share">
      <img src="{{'assets/images/illustrations/med_gear.png' | relative_url}}" alt="" id="med_gear" class="hero_gear no_share">
      <img src="{{'assets/images/illustrations/big_gear.png' | relative_url}}"  alt="" id="big_gear" class="hero_gear no_share ">
    </div>
  </div>
  <script>
    //spinning gears
    window.onscroll = function () {
      scrollRotate();
    };
  
    function scrollRotate() {
      const gears = document.querySelector(".hero_gear");
      gears.forEach((gear) => {
        gear.style.transform = "rotate(" + window.pageYOffset / 4 + "deg)";
      });
    }
  </script>
  
